@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Web.Models.ViewModels.Doctor.DoctorIndexViewModel

@{
    ViewBag.Title = "Doctors";
}

<div class="container">
    <h1>Doctors</h1>
    <a class="btn btn-secondary text-light" asp-action="Create">Create New Doctor</a>
    <div class="row">
        <div class="col-md-12">
            @if (Model.Doctors != null && Model.Doctors.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Specialties</th>
                            <th>Practices</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var doctor in Model.Doctors)
                        {
                            <tr>
                                <td>@doctor.Id</td>
                                <td>@doctor.Name</td>
                                <td>
                                    @if (doctor.Specialties != null)
                                    {
                                        @foreach (var specialty in doctor.Specialties)
                                        {
                                            @specialty.Specialty.Name <br />
                                        }
                                    }
                                    else
                                    {
                                        <span>No specialties found.</span>
                                    }
                                </td>
                                <td>
                                    @if (doctor.Practices != null)
                                    {
                                        @foreach (var practice in doctor.Practices)
                                        {
                                            @practice.Practice.Name <br />
                                        }
                                    }
                                    else
                                    {
                                        <span>No practices found.</span>
                                    }
                                </td>
                                <td class="text-end">
                                    <a class="me-2" title="Edit" asp-action="Edit" asp-route-id="@doctor.Id">
                                        <i class="fas fa-edit text-warning"></i>
                                    </a>
                                    <a class="me-2" title="Details" asp-action="Details" asp-route-id="@doctor.Id">
                                        <i class="fas fa-info-circle text-primary"></i>
                                    </a>
                                    <a class="me-2" title="Delete" asp-action="Delete" asp-route-id="@doctor.Id">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No doctors found.</p>
            }
        </div>
    </div>
</div>
