@model Web.Models.ViewModels.PatientIndexViewModel

@{
    ViewBag.Title = "Patients";
}

<div class="container">
    <h1>Patients</h1>
    <a class="btn btn-secondary text-light" asp-action="Create">Create New Patient</a>
    <div class="row">
        <div class="col-md-12">
            @if (Model.Patients != null && Model.Patients.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model.Patients)
                        {
                            <tr>
                                <td>@patient.Id</td>
                                <td>@patient.Name</td>
                                <td>@patient.Age</td>
                                <td class="text-end">
                                    <a class="me-2" title="Edit" asp-action="Edit" asp-route-id="@patient.Id">
                                        <i class="fas fa-edit text-warning"></i>
                                    </a>
                                    <a class="me-2" title="Details" asp-action="Details" asp-route-id="@patient.Id">
                                        <i class="fas fa-info-circle text-primary"></i>
                                    </a>
                                    <a class="me-2" title="Delete" asp-action="Delete" asp-route-id="@patient.Id">
                                        <i class="fas fa-trash text-danger"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No patients found.</p>
            }
        </div>
    </div>
</div>
